<div class="container-fluid d-flex align-items-center justify-content-center fullscreen">
 <div class="row">
    <mat-card class="col">
      <mat-card-title>
        <h1 class="text-center">{{"SING_IN" | translate}}</h1>
      </mat-card-title>

      <form #connexionForm="ngForm" (submit)="Login()">
        <mat-card-content>
          <mat-form-field appearance="legacy" class="col">
            <mat-label>{{"EMAIL" | translate}} / {{"ALIAS" | translate}}</mat-label>
            <input [(ngModel)]="user.emailOrPseudo" name="emailOrPseudo" #emailOrPseudo="ngModel" type="text" matInput placeholder="Ex. xxxFrançoisDu95xxx" required>
            <mat-error [hidden]="emailOrPseudo.valid"> {{'MANDATORY_FIELD' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="col">
            <mat-label>{{"PASSWORD" | translate}}</mat-label>
            <input [(ngModel)]="user.password" name="password" #password="ngModel" autocomplete="off" type="password" matInput placeholder="*******" required>
            <mat-error [hidden]="password.valid"> {{'MANDATORY_FIELD' | translate}}</mat-error>
          </mat-form-field>

          <mat-card-actions class="text-center">
            <button type="submit" mat-flat-button color="primary">{{'CONNEXION' | translate}}</button>
          </mat-card-actions>
        </mat-card-content>
      </form>
    </mat-card>
 </div>
</div>
