<div class="container-fluid h-100">
  <div class="row pt-5">
    <bn-helper class="col-2 d-none d-sm-flex"></bn-helper>
    <div class="col col-sm-8">
      <mat-card class="w-100">
        <mat-card-title>
          <div class="col-12 pt-3">
            <h1>{{'GAME_CREATE_CHRONICLE' | translate}}</h1>
          </div>
        </mat-card-title>
        <mat-card-content class="container-fluid">
          <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="stepOneFormGroup">
              <ng-template matStepLabel>{{'CREATE_CRHONICLE_STEP_1_TITLE' | translate}}</ng-template>

              <div class="col-12 mt-1">
                <p>{{'CREATE_CRHONICLE_STEP_1_TEXT' | translate}}</p>
              </div>

              <form [formGroup]="stepOneFormGroup" class="row mb-3" (ngSubmit)="validFirstStep()">
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>{{'CREATE_CRHONICLE_NAME' | translate}}</mat-label>
                    <input matInput placeholder="Exemple: Detroit By Night" formControlName="name" required
                      (focus)="displayHelper('name')" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>{{'CREATE_CRHONICLE_SECT' | translate}}</mat-label>
                    <mat-select formControlName="allegiance" (focus)="displayHelper('allegiance')">
                      <mat-option *ngFor="let sect of parameters.allegiances" [value]="sect.key">
                        {{sect.name | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>{{'CREATE_CRHONICLE_LOCALIZATION' | translate}}</mat-label>
                    <input matInput formControlName="localization" placeholder="Exemple: Paris, Lyon, Détroit etc .."
                      autocomplete="off" (focus)="displayHelper('localization')">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>{{'CREATE_CRHONICLE_THEME' | translate}}</mat-label>
                    <input matInput formControlName="theme" placeholder="Exemple: Chaos" autocomplete="off"
                      (focus)="displayHelper('theme')">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="standard">
                    <mat-label>{{'CREATE_CRHONICLE_TON' | translate}}</mat-label>
                    <input matInput formControlName="ton" placeholder="Exemple: Sombre" autocomplete="off"
                      (focus)="displayHelper('ton')">
                  </mat-form-field>
                </div>

                <div class="col-12">
                  <mat-form-field class="w-100" appearance="standard">
                    <mat-label>{{ 'CREATE_CRHONICLE_HOOK' | translate}}</mat-label>
                    <textarea (focus)="displayHelper('hook')" matInput formControlName="hook"></textarea>
                  </mat-form-field>
                </div>

                <div class="w-100 text-right">
                  <button type="submit" mat-button matStepperNext>{{'NEXT' | translate}}</button>
                </div>
              </form>
            </mat-step>

            <mat-step label="{{'CREATE_CRHONICLE_STEP_2_TITLE' | translate}}">

              <div class="row">
                <p>{{'CREATE_CHRONICLE_HELPER_PARAMETER_CLAN_RARITY' | translate}}</p>
                <div class="col">
                  <div class="row">
                    <p class="text-center col-12">{{'CREATE_CHRONICLE_MAJOR_CLANS' | translate}}</p>
                    <table class="col-12" mat-table [dataSource]="allClans | filterClans : 'MAJOR' : 'true'"
                      class="mat-elevation-z8">

                      <ng-container matColumnDef="clan">
                        <th mat-header-cell *matHeaderCellDef> Clan </th>
                        <td mat-cell *matCellDef="let clan"> {{clan.name | translate}} </td>
                      </ng-container>

                      <ng-container matColumnDef="setting">
                        <th mat-header-cell *matHeaderCellDef> Population </th>
                        <td mat-cell *matCellDef="let clan">
                          <mat-form-field appearance="standard">
                            <mat-label>Choose an option</mat-label>
                            <mat-select>
                              <mat-option value="option1">Option 1</mat-option>
                              <mat-option value="option2">Option 2</mat-option>
                              <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>


                </div>
                <div class="col">
                  <p class="text-center">{{'CREATE_CHRONICLE_MINORS_CLANS' | translate}}</p>
                  <table class="col" mat-table [dataSource]="allClans | filterClans : 'MINOR' : 'true'"
                    class="mat-elevation-z8">

                    <ng-container matColumnDef="clan">
                      <th mat-header-cell *matHeaderCellDef> Clan </th>
                      <td mat-cell *matCellDef="let clan"> {{clan.name | translate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="setting">
                      <th mat-header-cell *matHeaderCellDef> Population </th>
                      <td mat-cell *matCellDef="let clan"> {{clan.importance}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div class="col">
                  <p class="text-center">{{'CREATE_CHRONICLE_RARES_CLANS' | translate}}</p>
                  <table class="col" mat-table [dataSource]="allClans | filterClans : 'RARE' : 'true'"
                    class="mat-elevation-z8">

                    <ng-container matColumnDef="clan">
                      <th mat-header-cell *matHeaderCellDef> Clan </th>
                      <td mat-cell *matCellDef="let clan"> {{clan.name | translate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="setting">
                      <th mat-header-cell *matHeaderCellDef> Population </th>
                      <td mat-cell *matCellDef="let clan"> {{clan.importance}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>

              <div>
                <div class="text-right">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>{{'NEXT' | translate}}</button>
                </div>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>{{'CREATE_CRHONICLE_STEP_3_TITLE' | translate}}</ng-template>
              <p>You are now done.</p>
              <div class="text-right">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>

          </mat-stepper>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
