<div class="container-fluid d-flex align-items-center justify-content-center fullscreen">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-12">
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-card>
          <mat-card-title>
            <h1 class="text-center">{{"SING_UP" | translate}}</h1>
          </mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"FIRSTNAME" | translate}}</mat-label>
              <input autocomplete="off" formControlName="firstname" type="text" matInput placeholder="Ex. François"
                required>
              <mat-error
                *ngIf="registerForm.get('firstname').touched && !registerForm.get('firstname').errors?.pattern">
                {{'MANDATORY_FIELD' | translate}}</mat-error>
              <mat-error *ngIf="registerForm.get('firstname').touched && registerForm.get('firstname').errors?.pattern">
                {{'ERR_FIELD_INCORRECT' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"LASTNAME" | translate}}</mat-label>
              <input autocomplete="off" formControlName="lastname" type="text" matInput placeholder="Ex. Villon"
                required>
              <mat-error *ngIf="registerForm.get('lastname').touched && !registerForm.get('lastname').errors?.pattern">
                {{'MANDATORY_FIELD' | translate}}</mat-error>
              <mat-error *ngIf="registerForm.get('lastname').touched && registerForm.get('lastname').errors?.pattern">
                {{'ERR_FIELD_INCORRECT' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"EMAIL" | translate}}</mat-label>
              <input autocomplete="off" formControlName="email" type="email" matInput
                placeholder="Ex. francois.villon@mascarade.fr" required>
              <mat-error *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
                {{'MANDATORY_FIELD' | translate}}</mat-error>
              <mat-error *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.pattern">
                {{'ERR_FIELD_INCORRECT' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"ALIAS" | translate}}</mat-label>
              <input autocomplete="off" formControlName="alias" type="text" matInput
                placeholder="Ex. xxxFrançoisDu75xxx" required>
              <mat-error *ngIf="registerForm.get('alias').touched && registerForm.get('alias').hasError('required')">
                {{'MANDATORY_FIELD' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"BIRTHDATE" | translate}}</mat-label>
              <input autocomplete="off" formControlName="birthdate" matInput [matDatepicker]="picker"
                (focus)="picker.open()" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
              <mat-error
                *ngIf="registerForm.get('birthdate').touched && registerForm.get('birthdate').hasError('required')">
                {{'MANDATORY_FIELD' | translate}}</mat-error>
              <mat-error
                *ngIf="registerForm.get('birthdate').dirty && registerForm.get('birthdate').hasError('isUnderAge')">
                {{'UNDERAGE' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"PASSWORD" | translate}}</mat-label>
              <input matInput #password formControlName="password" type="password" required placeholder="********" />
              <mat-error *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')"> {{'MANDATORY_FIELD' | translate}}</mat-error>
            </mat-form-field>

            <div class="col pb-1">
              <mat-password-strength #passwordComponent [password]="password.value"></mat-password-strength>
            </div>

            <mat-form-field appearance="legacy" class="col">
              <mat-label>{{"CONFIRMED_PASSWORD" | translate}}</mat-label>
              <input matInput #confirmedPassword formControlName="confirmedPassword" type="password" required placeholder="********" />
              <mat-error *ngIf="registerForm.get('confirmedPassword').touched && registerForm.get('confirmedPassword').hasError('required')"> {{'MANDATORY_FIELD' | translate}}</mat-error>
              <mat-error *ngIf="registerForm.get('confirmedPassword').touched && registerForm.get('confirmedPassword').hasError('isMatching') && !registerForm.get('confirmedPassword').hasError('required')"> {{'CONFIRMED_PASSWORD_DOESNT_MATCH' | translate}}</mat-error>
            </mat-form-field>

            <div class="col pt-1">
              <mat-password-strength #confirmPasswordComponent [password]="confirmedPassword.value"></mat-password-strength>
            </div>
          </mat-card-content>

          <mat-card-actions class="text-center">
            <button [disabled]="!registerForm.valid" type="submit" mat-flat-button color="primary">{{'REGISTER' | translate}}</button>
          </mat-card-actions>

        </mat-card>
      </form>
    </div>
  </div>
</div>


