<div class="container-fluid mt-5">
  <div class="row pt-5">
    <mat-table class="col-8 offset-2" #table [dataSource]="chronicles">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hook">
        <mat-header-cell *matHeaderCellDef> {{"HOOK" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.hook}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="faction">
        <mat-header-cell *matHeaderCellDef> {{"ALLEGIANCE" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.allegianceId | translate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="theme">
        <mat-header-cell *matHeaderCellDef> {{"THEME" | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.theme}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mood">
        <mat-header-cell *matHeaderCellDef> {{"TON" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mood}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="localization">
        <mat-header-cell *matHeaderCellDef> {{"LOCATE" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.localization}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef> {{"START_DATE" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startDate != undefined ? element.startDate : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef> {{"END_DATE" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endDate != undefined ? element.endDate : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nextDate">
        <mat-header-cell *matHeaderCellDef> {{"NEXT_GAME_PARTY" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nextDate != undefined ? element.nextDate : '-'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> {{"ACTION" | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" [matTooltipPosition]="'above'"
            (click)="redirectToCharacterCreation(element.id)">person_add </mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="col-2 offset-10 position-fixed">
      <button mat-flat-button color="primary" [routerLink]="'create'">
        <mat-icon>add</mat-icon>
        {{'GAME_CREATE_CHRONICLE' | translate}}
      </button>
    </div>
  </div>
</div>
