/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */

@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';

@import './custom-theme.scss';

@font-face {
	font-family: 'Alexandria';
	src: url('../assets/font/Alexandria.ttf') format('truetype');
}

@font-face {
	font-family: 'Furura';
	src: url('../assets/font/Futura/Futura\ Round.ttf') format('truetype');
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Futura", "Helvetica Neue", sans-serif;
}

.futura {
  font-family: 'Furura' !important;
}

.alexandria {
  font-family: 'Alexandria' !important;
}

.custom-toast-success {
  background-color: darkgreen;
}

.custom-toast-error {
  background-color: darkred;
}

.custom-toast-info {
  background-color: darkcyan;
}

.custom-toast-warning {
  background-color: darkorange;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stepper-button {
  background-color: #7D221D; 
  color: white;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;

  &:disabled {
    background-color: grey;
  }
}