<div class="container-fluid d-flex align-items-center justify-content-center fullscreen">
  <div class="row">
    <mat-card class="col pb-0">
      <mat-card-title>
        <h1 class="text-center">{{"CHANGE_PASSWORD" | translate}}</h1>
      </mat-card-title>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="ResetPassword()">
        <mat-card-content>
          <mat-form-field appearance="legacy" class="col">
            <mat-label>{{"CHANGE_PASSWORD_PASSWORD" | translate}}</mat-label>
            <input formControlName="newPassword" type="password" matInput
              placeholder="*******" required>
            <mat-error *ngIf="resetPasswordForm.get('newPassword').touched && !resetPasswordForm.get('newPassword').errors?.pattern"> {{'MANDATORY_FIELD' | translate}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="legacy" class="col">
            <mat-label>{{"CHANGE_PASSWORD_CONFIRM_PASSWORD" | translate}}</mat-label>
            <input formControlName="confirmPassword" autocomplete="off" type="password"
              matInput placeholder="*******" required>
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword').touched && !resetPasswordForm.get('confirmPassword').errors?.pattern"> {{'MANDATORY_FIELD' | translate}}</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('confirmPassword').touched && resetPasswordForm.get('confirmPassword').hasError('isMatching') && !resetPasswordForm.get('confirmPassword').hasError('required')"> {{'CONFIRMED_PASSWORD_DOESNT_MATCH' | translate}}</mat-error>
          </mat-form-field>

          <mat-card-actions class="text-center">
            <button [disabled]="!resetPasswordForm.valid" type="submit" mat-flat-button color="primary">{{'VALIDATE' | translate}}</button>
            <button type="button" class="ml-1" mat-flat-button color="warn">{{'CANCEL' | translate}}</button>
          </mat-card-actions>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
