<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">

  <a class="navbar-brand" [routerLink]='["/"]' routerLinkActive='active'>{{'APPLICATION_NAME' | translate}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto" *ngIf="(authService.currentUser$ | async)">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link  dropdown-toggle" href="#" dropdownToggle (click)="false">{{'GAME_CHRONICLE' | translate}}</a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem"><a class="dropdown-item" [routerLink]='["/chronicle/create"]' routerLinkActive='active'>{{'GAME_CREATE_CHRONICLE' | translate}}</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]='["/chronicle/"]'>{{'CHRONICLES_LIST' | translate}}</a></li>
          <!-- <li role="menuitem"><a class="dropdown-item" [routerLink]='["/rules/skills"]' routerLinkActive='active' >{{'GAME_MY_CHRONICLE' | translate}}</a></li> -->
        </ul>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link  dropdown-toggle" href="#" dropdownToggle (click)="false">{{'GAME_RULES' | translate}}</a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem"><a class="dropdown-item" [routerLink]='["/rules/clans"]' routerLinkActive='active'>{{'GAME_CLANS' | translate}}</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]='["/rules/skills"]' routerLinkActive='active' >{{'GAME_SKILL' | translate}}</a></li>
          <li role="menuitem"><a class="dropdown-item" [routerLink]='["/rules/disciplines"]' routerLinkActive='active'>{{'GAME_DISCIPLINES' | translate}}</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a href dropdownToggle class="nav-link dropdown-toggle" (click)="false">{{'USER_MY_ACCOUNT' | translate}}</a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem" [routerLink]='["/account/settings"]' routerLinkActive='active'><a class="dropdown-item">{{'ACCOUNT_PARAMETERS' | translate}}</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()">{{'DISCONNECT' | translate}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="(authService.currentUser$ | async) === null">
      <li class="nav-item">
        <a [routerLink]='["/auth/connexion"]' class="nav-link">{{"SING_IN" | translate}}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/auth/register"]' class="nav-link">{{"SING_UP" | translate}}</a>
      </li>
    </ul>
  </div>

</nav>
