<div *ngIf="discipline == null">
  <div class="row mt-5">
    <div class="col-12">
      <h1>{{'GAME_DISCIPLINES' | translate}}</h1>
      <hr>
    </div>
    <div class="col-12">
      <p [innerHTML]="'GAME_DISCIPLINES_HOME_PAGE' | translate"></p>
    </div>
  </div>
</div>

<div *ngIf="discipline != null">
  <div class="row mt-5">
    <div class="col-12">
      <h1>{{discipline.name | translate}}</h1>
      <hr>
    </div>
    <div class="col-12">
      <p [innerHTML]="discipline.description | translate"></p>
    </div>
  </div>
  <div class="row" *ngIf="discipline.powers?.length > 0">
    <div class="col-12">
      <h1 [innerHTML]=" 'GAME_POWERS'| translate"></h1>
    </div>
  </div>

  <div class="row mb-3" *ngFor="let power of discipline.powers">
    <div class="col-12 mb-1">
      <span *ngIf="power.level == 1">•</span>
      <span *ngIf="power.level == 2">••</span>
      <span *ngIf="power.level == 3">•••</span>
      <span *ngIf="power.level == 4">••••</span>
      <span *ngIf="power.level == 5">•••••</span>
      <span *ngIf="power.level == 6">••••• •</span>
      <h2 class="d-inline pl-1" [innerHTML]="power.name | translate">•</h2>
    </div>
    <div class="col-12">
      <p [innerHTML]='power.description | translate'></p>
    </div>
    <div class="col-12">
      <h3 [innerHTML]=" 'GAME_SYSTEM' | translate"></h3>
      <p [innerHTML]='power.system | translate'></p>
    </div>
    <div class="col-12" *ngIf="power.exceptionnalSuccess">
      <h3 [innerHTML]=" 'GAME_EXECPTIONEL_SUCCESS' | translate"></h3>
      <p [innerHTML]='power.exceptionnalSuccess | translate'></p>
    </div>
    <div class="col-12" *ngIf="power.focusDescription != null">
      <h3 [innerHTML]=" 'GAME_FOCUS' | translate">{{power.focus.name}}</h3>
      <p [innerHTML]='power.focusDescription | translate'></p>
    </div>
  </div>

  <div class="row" *ngIf="discipline.rituals.length > 0">
    <div class="col-12">
      <h2>{{"PRIMARY_PAHTH" | translate}}</h2>
      <p [innerHTML]='discipline.primaryPathDescription | translate'></p>
    </div>

    <div class="col">
      <h2>{{"RITUALS" | translate}}</h2>
      <p [innerHTML]='discipline.ritualSystemDescription | translate'></p>
    </div>
  </div>

</div>
