<div *ngIf="discipline == null">
  <h1>{{'GAME_DISCIPLINES' | translate}}</h1>
  <p style="text-align: justify;" [innerHTML]="'GAME_DISCIPLINES_HOME_PAGE' | translate"></p>
</div>

<div *ngIf="discipline != null">
  <div class="row">
    <div class="col-12">
      <h1>{{discipline.name | translate}}</h1>
    </div>
    <div class="col-12">
      <p [innerHTML]="discipline.description | translate"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 [innerHTML]=" 'GAME_POWERS'| translate"></h1>
    </div>
  </div>

  <div class="row" *ngFor="let power of discipline.powers">
    <div class="col-12">
      <h2 [innerHTML]="power.name | translate"></h2>
    </div>
    <div class="col-12">
      <p [innerHTML]='power.description | translate'></p>
    </div>
    <div class="col-12">
      <h3 [innerHTML]=" 'GAME_SYSTEM' | translate"></h3>
      <p [innerHTML]='power.system | translate'></p>
    </div>
    <div class="col-12" *ngIf="power.exceptionnalSuccess != null">
      <h3 [innerHTML]=" 'GAME_EXECPTIONEL_SUCCESS' | translate"></h3>
      <p [innerHTML]='power.exceptionnalSuccess | translate'></p>
    </div>
    <div class="col-12" *ngIf="power.focusDescription != null">
      <h3 [innerHTML]=" 'GAME_FOCUS' | translate">{{power.focus.name}}</h3>
      <p [innerHTML]='power.focusDescription | translate'></p>
    </div>
  </div>

</div>
