span {
  font-weight: bolder;
}

.disciplines {
  border: 1px solid white;
  margin: 3px;
}

.link-discipline {
  color: wheat;
}

.left-menu {
  background-color: white;
  box-shadow: 5px 5px 5px white;
}
