@import '/src/custom-theme.scss';

.drawer-container {
  padding-top: 50px;
  color: white;
  text-align: justify;
  background: $backgroud-default;
}

.sidebar-rules {
  padding-top: 50px;
 }

 .return-top {
  position: fixed;
  display: flex;
  bottom: 2em;
  right: 4em;
  z-index: 10;
  padding: 20px;
  border-radius: 100%;
  background-color: rgba(211, 211, 211, 0.5);
  color: white;
  border: 1px solid rgba(211, 211, 211, 0.0);
 }
